/* General Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background-image: url('../images/fleur-pattern.png');
}

@font-face {
    font-family: 'Bickham Script Pro Bold';
    src: url('../fonts/bickham-script-pro-bold.ttf');
}

@font-face {
    font-family: 'PrincesS-AND-THE-FROG';
    src: url('../fonts/princess-and-the-frog.ttf');
}

h1 {
    font-family: 'Bickham Script Pro Bold';
    font-size: 5rem;
    padding: 2px 0 20px 0;
    text-align: center;
}

h2 {
    font-family: 'PrincesS-AND-THE-FROG', sans-serif;
    font-size: 1.5rem;
    padding: 5px 0 5px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0 20px 0;
    line-height: 1.5;
}
