/* General Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background-image: url('images/fleur-pattern.png');
}

@font-face {
    font-family: 'Bickham Script Pro Bold';
    src: url('bickham-script-pro-bold.ttf');
}

@font-face {
    font-family: 'PrincesS-AND-THE-FROG';
    src: url('princess-and-the-frog.ttf');
}
