/* General Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background-image: url('../images/fleur-pattern.png');
}

@font-face {
    font-family: 'Bickham Script Pro Bold';
    src: url('../fonts/bickham-script-pro-bold.ttf');
}

@font-face {
    font-family: 'PrincesS-AND-THE-FROG';
    src: url('../fonts/princess-and-the-frog.ttf');
}

h1 {
    font-family: 'Bickham Script Pro Bold';
    font-size: 5rem;
    padding: 2px 0 20px 0;
    text-align: center;
}

h2 {
    font-family: 'PrincesS-AND-THE-FROG', sans-serif;
    font-size: 1.5rem;
    padding: 5px 0 5px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0 20px 0;
    line-height: 1.5;
}

header {
    background-color: #efefbd;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Settings */
nav {
    background-color: #efefbd;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
}

nav ul li {
    display: block;
    padding-left: 1%;
    padding-right: 1%;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    padding: 1%;
    color: white;
}

nav ul li a:hover,
nav ul li a:focus {
    padding: 1%;
    color: white;
}

nav ul li a:active {
    color: white;
    padding: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efefbd;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #a0c076;
}

/* End of Nav Settings */
main {
    padding: 5%;
    margin: auto;
}

/* Beginning of Contact Form Settings */
fieldset {
    border: 2px solid #dede9c;
    border-radius: 20px;
    padding: 25px;
}

legend {
    padding: 0 5px;
    color: #dede9c;
    font-weight: bold;
}

.label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input,
textarea,
select {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: 2px solid #dede9c;
    border-radius: 5px;
    margin-top: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 10px;
}

::-moz-placeholder { /* Firefox 19+ */
    padding-left: 10px;
}

:-ms-input-placeholder { /* IE 10+ */
    padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
    padding-left: 10px;
}

#no {
    margin-left: 10px;
}

textarea {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #84a594;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px;
    width: 100px;
    display: inline;
    margin-right: 10px;
    border-radius: 20px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus {
    background-color: #a0c076;
    color: white;
}

.formrequiredincomplete {
    background: #b8b8b8;
    color: #000000;
    border: #dede9c 2px solid;
}

/* End of Contact Form */
footer p {
    color: white;
}

footer {
    background-color: #efefbd;
    padding: 2%;
}

.bold {
    font-weight: 700;
    font-style: italic;
}

@media (min-width: 320px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer p {
        color: white;
        font-size: 0.875rem;
        display: block;
    }

    footer {
        width: 100%;
        background-color: #efefbd;
        margin-top: 0;
        padding-top: 2%;
        padding-bottom: 1%;
        clear: both;
    }

    aside {
        padding: 5%;
    }
}

/* Desktop/Tablet Settings */

@media (min-width: 800px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: baseline;
        align-content: center;
    }

    .flex-item {
        width: 30%;
        padding: 0 10px 0 10px;
    }

    /* Nav Settings */
    nav {
        width: 80%;
        float: right;
        font-size: 1.25rem;
    }

    nav ul {
        list-style: none;
        text-align: center;
        margin-left: 0;
    }

    nav ul li {
        display: inline-block;
        padding-left: 1%;
        padding-right: 1%;
    }

    nav ul li a:link,
    nav ul li a:visited {
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul li a:hover {
        padding: 1%;
        color: white;
    }

    nav ul li a:active {
        color: white;
        padding: 1%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    li a:hover {
        background-color: transparent;
    }

    nav ul li a,
    nav ul li a::after,
    nav ul li a::before {
        transition: all 0.5s;
    }

    nav ul li a:hover {
        color: #a0c076;
    }

    nav.stroke ul li a,
    nav.fill ul li a {
        position: relative;
    }

    nav.stroke ul li a::after,
    nav.fill ul li a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #a0c076;
        height: 2px;
    }

    nav.stroke ul li a:hover::after {
        width: 100%;
    }

    nav.fill ul li a {
        transition: all 2s;
    }

    nav.fill ul li a::after {
        text-align: center;
        content: '.';
        margin: 0;
        opacity: 0;
    }

    nav.fill ul li a:hover {
        color: #ffffff;
        z-index: 1;
    }

    nav.fill ul li a:hover:a:fter {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
    }

    /* End of Nav Settings */

    @keyframes fill {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    aside {
        width: 30%;
        float: left;
        padding: 5%;
    }

    .about {
        width: 40%;
        float: right;
    }

    .contact {
        width: 55%;
        float: left;
    }

    .sidebar {
        width: 15%;
        float: right;
        padding: 10%;
    }

}
