/* General Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background-image: url('../images/fleur-pattern.png');
}

@font-face {
    font-family: 'Bickham Script Pro Bold';
    src: url('../fonts/bickham-script-pro-bold.ttf');
}

@font-face {
    font-family: 'PrincesS-AND-THE-FROG';
    src: url('../fonts/princess-and-the-frog.ttf');
}

h1 {
    font-family: 'Bickham Script Pro Bold';
    font-size: 5rem;
    padding: 2px 0 20px 0;
    text-align: center;
}

h2 {
    font-family: 'PrincesS-AND-THE-FROG', sans-serif;
    font-size: 1.5rem;
    padding: 5px 0 5px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0 20px 0;
    line-height: 1.5;
}

header {
    background-color: #efefbd;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Settings */
nav {
    background-color: #efefbd;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
}

nav ul li {
    display: block;
    padding-left: 1%;
    padding-right: 1%;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    padding: 1%;
    color: white;
}

nav ul li a:hover,
nav ul li a:focus {
    padding: 1%;
    color: white;
}

nav ul li a:active {
    color: white;
    padding: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efefbd;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #a0c076;
}

/* End of Nav Settings */
main {
    padding: 5%;
    margin: auto;
}
